body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
    }

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

h1,
h2 {
color: #00997b;
}

candidate {
    text-align: center;
}
candidate h1 {
    margin: 10px 0;
    font-size:  1.5rem;
}

.contact {
    margin: 10px 0;
    font-size: .8rem;
}
.contact a {
    color: #00997b;
    text-decoration: none;
}

section {
    margin: 30px 0px 10px 0px;
}
section h2 {
    margin-bottom: 5px;
    border-bottom: 2px solid #00997b;
    padding-bottom: 5px;
    font-size: 1rem;
}

.item {
    margin-bottom: 15px;
}
.item p {
    margin: 5px 0;
    font-size: .75rem;
}

company,
degree-school,
project {
    display: inline;
    margin: 0;
    font-size: .8rem;
    font-weight: bold;
}

dates {
    display: inline;
    float:  right;
    margin: 0;
    font-size:.8rem;
    font-weight: bold;
}
role {
    display: block;
    margin: 0;
    font-size:.75rem;
}

grad {
    display: inline;
    float: right;
    margin: 0;
    font-size:.8rem;
}

.skills ul {
    list-style: none;
    padding: 0;
}
.skills ul li {
    display: inline-block;
    background: #00997b;
    color: #fff;
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    border-radius: 4px;
    }

.expertise ul {
    padding: 0px;
    margin-top: 0px;

}
.expertise ul li {
    list-style: none;
    display: inline-block;
    font-size: .667rem;
    background: #00997b;
    color: #fff;
    padding: 2px 5px 0px 5px; 
    border-radius: 2px;
    
}
