:root {
    --button-background-color: #00997b;
    --button-background-color-hover: #00997b88;
}
body {
    font-family: Arial, sans-serif;
    font-size: .8rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
    }

.container {
    max-width: 800px;
    margin: 0px auto 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    }

h1,
h2 {
color: #00997b;
}

h4 {
    margin-bottom: 0px;
}

.candidate {
    margin-top: 0rem !important;
}
.candidate h1 {
    margin: 10px 0;
    font-size:  1.5rem;
}

.contact {
    margin: 10px 0;
    font-size: .8rem;
}
.contact a {
    color: #00997b;
    text-decoration: none;
}

section {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    padding: 0rem 2rem 2rem 2rem;
    border-radius: 10px;
    border: 1px solid rgba(74, 255, 158, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 255, 0, 0.08);
    backdrop-filter: blur(10px) brightness(1.2);
}
section h2 {
    margin-bottom: 5px;
    border-bottom: 2px solid #00997b;
    padding-bottom: 5px;
    font-size: 1.2rem;
}

.navigation ul {
    padding: 0px;
}

.navigation ul li {
    list-style: none;
    display: inline-block;
}
.navigation ul li a,
.navigation ul li a:visited {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--button-background-color);
    text-decoration: none;
    color: #fff;
}

.navigation ul li a:hover  {
    /* text-decoration: none; */
    color: #000;
    background-color: var(--button-background-color-hover);
}

a.top {
    position:fixed;
    top: 31%;
    color: var(--button-background-color);
    text-align: center;
    padding: 8px 0px;
    margin-left: -50px;
    text-decoration: none;
  }

a.top:hover {
    color: var(--button-background-color-hover);
    text-decoration: none;
}

skillset {
    display: block;
    font-weight: bold;
}
skills {
    display: block;
    margin-bottom: 20px;
}

company,
degree-school,
project {
    display: inline;
    margin: 10px 0px 0px 0px;
    padding-top: 5px;
    font-weight: bold;
}

dates {
    display: inline;
    float:  right;
    font-weight: bold;
}

role {
    display: block;
    margin: 2px;
    padding: 0px 0px 15px 0px;
}

grad {
    display: inline;
    float: right;
    margin: 0;
}
