body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
    }

.container {
    max-width: 800px;
    margin: 0px auto 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    }

h1,
h2 {
color: #00997b;
}

.candidate {
    margin-top: 0rem !important;
}
.candidate h1 {
    margin: 10px 0;
    font-size:  1.5rem;
}

.contact {
    margin: 10px 0;
    font-size: .8rem;
}
.contact a {
    color: #00997b;
    text-decoration: none;
}

section {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    padding: 0rem 2rem 2rem 2rem;
    border-radius: 10px;
    border: 1px solid rgba(74, 255, 158, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 255, 0, 0.08);
    backdrop-filter: blur(10px) brightness(1.2);
}
section h2 {
    margin-bottom: 5px;
    border-bottom: 2px solid #00997b;
    padding-bottom: 5px;
    font-size: 1rem;
}

.item {
    margin-bottom: 15px;
}
.item p {
    margin: 5px 0;
    font-size: .85rem;
}

company,
degree-school,
project {
    display: inline;
    margin: 10px 0px 0px 0px;
    padding-top: 5px;
    font-size: .8rem;
    font-weight: bold;
}

dates {
    display: inline;
    float:  right;
    font-size:.85rem;
    font-weight: bold;
}
role {
    display: block;
    margin: 0;
    font-size:.85rem;
}

grad {
    display: inline;
    float: right;
    margin: 0;
    font-size:.8rem;
}

.skills ul {
    list-style: none;
    padding: 0;
}
.skills ul li {
    display: inline-block;
    background: #00997b;
    color: #fff;
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    border-radius: 4px;
    }

.expertise ul {
    padding: 0px;
    margin-top: 0px;

}
.expertise ul li {
    list-style: none;
    display: inline-block;
    font-size: .667rem;
    background: #00997b;
    color: #fff;
    padding: 2px 5px 0px 5px; 
    border-radius: 2px;
    text-decoration: none;
}

.navigation ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
    background: #00997b;
    text-decoration: none;
    color: #fff;
}
.navigation ul li a,
.navigation ul li a:visited,
.navigation ul li a:hover {
    text-decoration: none;
    color: #fff;
}

a.button {
    position:fixed;
    top: 20%;
    color: #00997b;
    text-align: center;
    padding: 8px 0px;
    margin-left: -35px;
  }

a.button:hover {
    text-decoration: none;
    color: white;
    background-color: #00997b;
}
